In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**QUESTION 1**

In [79]:
# What's the version of Pandas that you installed?
pd.__version__

'1.4.2'

In [95]:
df =  pd.read_csv('housing.csv.1')

In [96]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

**QUESTION 2**

In [97]:
# How many columns are in the dataset?
print('The number of columns in the dataset are:', len(df.columns))

The number of columns in the dataset are: 10

**QUESTION 3**

In [130]:
#Which columns in the dataset have missing values?
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

**QUESTION 4**

In [20]:
# How many unique values does the ocean_proximity column have?
df['ocean_proximity'].nunique()

5

In [131]:
print('There are ', df['ocean_proximity'].nunique(), 'unique values in the ocean_proximity column')

There are  5 unique values in the ocean_proximity column

In [33]:
list(df['ocean_proximity'].unique())

['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND']

**QUESTION 5**

In [132]:
# What's the average value of the median_house_value for the houses located near the bay?
avg_median_house_value = df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean().round(3)

In [133]:
print('The average value of the median_house_value for the houses located near the bay is :', avg_median_house_value)

The average value of the median_house_value for the houses located near the bay is : 259212.312

**QUESTION 6**

In [139]:
# Calculate the average of total_bedrooms column in the dataset.
# Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
# Now, calculate the average of total_bedrooms again.
# Has it changed?

mean_bedroom_nofill = df['total_bedrooms'].mean()
print('The the average of total_bedrooms column in the dataset is:', mean_bedroom_nofill)

The the average of total_bedrooms column in the dataset is: 537.8705525375617

In [140]:
df['total_bedrooms'].fillna(value=mean_bedroom_nofill, inplace=True)

In [141]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [143]:
mean_bedroom_updated = df['total_bedrooms'].mean()
print('The the average of total_bedrooms column in the dataset after \
filling the missing values with the mean value is:', mean_bedroom_updated)

The the average of total_bedrooms column in the dataset after filling the missing values with the mean value is: 537.8705525375617

**QUESTION 7**

In [37]:
# Select all the options located on islands.
# Select only columns housing_median_age, total_rooms, total_bedrooms.
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Compute the inverse of XTX.
# Create an array y with values [950, 1300, 800, 1000, 1300].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the value of the last element of w?

island_data = df[df['ocean_proximity'] == 'ISLAND']
island_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [38]:
selected_columns = island_data[['housing_median_age', 'total_rooms', 'total_bedrooms']]
selected_columns

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [41]:
X = selected_columns.values
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [44]:
XTX = X.T.dot(X)
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [46]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [48]:
y = np.array([950, 1300, 800, 1000, 1300])
y

array([ 950, 1300,  800, 1000, 1300])

In [49]:
w = XTX_inv.dot(X.T).dot(y)
w

array([23.12330961, -1.48124183,  5.69922946])

In [50]:
w[-1]

5.699229455065586