In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
# QUESTION 1
pd.__version__

'1.4.2'

In [5]:
df =  pd.read_csv('housing.csv.1')

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [16]:
#QUESTION 2
print('The number of columns in the dataset are:', len(df.columns))

The number of columns in the dataset are: 10

In [18]:
#QUESTION 3
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [20]:
#QUESTION 4
df['ocean_proximity'].nunique()

5

In [26]:
#QUESTION 5
df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean().round()

259212.0

In [ ]:
#QUESTION 6

In [28]:
mean_bedroom = df['total_bedrooms'].mean()
print(mean_bedroom)

537.8705525375618

In [29]:
df['total_bedrooms'].fillna(value=mean_bedroom, inplace=True)

In [30]:
mean_bedroom_updated = df['total_bedrooms'].mean()
print(mean_bedroom_updated)

537.8705525375617